<div style="padding: 15px;">
    <h3 for="">Images with Card & Tags</h3>
    <tis-image-and-file-upload-and-view [enableDragNDrop]="true" (dataSequenceChange)="dataSequenceChange($event)" type="image" viewType="card" [required]="false" [urlConfig]="urlConfig" entityId="1" [entityType]="'image_details'" [disabled]="false"
        [options]="getOptions({selectorId: 'choosing-image-for-image-details-card-view-for-card-tags', limit: 5, enableImageTags: true, isMultiple: true})"
        accept=".png,.jpeg,.jpg" label="Click to upload">
    </tis-image-and-file-upload-and-view>

    <br><br>

    <h3 for="">Images with Initial State</h3>
    <tis-image-and-file-upload-and-view type="image" viewType="card" [required]="false" [urlConfig]="urlConfig" [entityType]="'image_details'" [disabled]="false"
        [options]="getOptions({selectorId: 'choosing-image-for-image-details-card-view-for-initial-state'})"
        accept=".png,.jpeg,.jpg" label="Upload Image">
    </tis-image-and-file-upload-and-view>

    <br><br>

    <h3 for="">Images for View only with No Data</h3>
    <tis-image-and-file-upload-and-view type="image" viewType="card" [urlConfig]="urlConfig" [entityType]="'image_details'" [disabled]="true"
        [options]="getOptions({selectorId: 'choosing-image-for-image-details-card-view-for-no-data'})"
        accept=".png,.jpeg,.jpg" label="Upload Image">
    </tis-image-and-file-upload-and-view>

    <br><br>

    <h3 for="">Images with Card View</h3>
    <tis-image-and-file-upload-and-view type="image" viewType="card" [enableDragNDrop]="true" (dataSequenceChange)="dataSequenceChange($event)" [urlConfig]="urlConfig" [entityType]="'image_details'" [disabled]="false"
        [options]="getOptions({selectorId: 'choosing-image-for-image-details-card-view', selectionMode: true})" [selectedId]="selectedId"
        accept=".png,.jpeg,.jpg" label="Upload Image" [data]="images" [dialogConfig]="this.getImagePickerDialogConfig()" (onFileSelect)="onFileSelect($event)">
    </tis-image-and-file-upload-and-view>

    <br><br>

    <h3 for="">Images with List View</h3>
    <tis-image-and-file-upload-and-view type="image" viewType="list" [urlConfig]="urlConfig" [entityType]="'image_details'" [disabled]="false"
        [options]="getOptions({selectorId: 'choosing-image-for-image-details-list-view'})"
        accept=".png,.jpeg,.jpg" label="Upload Image" [data]="images" [dialogConfig]="this.getImagePickerDialogConfig()">
    </tis-image-and-file-upload-and-view>

    <br><br>

    <h3 for="">Images for View only </h3>
    <tis-image-and-file-upload-and-view type="image" viewType="card" [urlConfig]="urlConfig" [entityType]="'image_details'" [disabled]="true"
        [options]="getOptions({selectorId: 'choosing-image-for-image-details-card-for-view-only'})"
        accept=".png,.jpeg,.jpg" label="Upload Image" [data]="images" [dialogConfig]="this.getImagePickerDialogConfig()">
    </tis-image-and-file-upload-and-view>

    <br>

    <tis-image-and-file-upload-and-view type="image" viewType="list" [urlConfig]="urlConfig" [entityType]="'image_details'" [disabled]="true"
        [options]="getOptions({selectorId: 'choosing-image-for-image-details-list-for-view-only'})"
        accept=".png,.jpeg,.jpg" label="Upload Image" [data]="images" [dialogConfig]="this.getImagePickerDialogConfig()">
    </tis-image-and-file-upload-and-view>

    <br><br>

    <h3 for="">Files with Card View</h3>
    <tis-image-and-file-upload-and-view type="file" viewType="card" [urlConfig]="urlConfig" [entityType]="'file_details'" [disabled]="false"
        [options]="getOptions({selectorId: 'choosing-file-for-file-details-card-view'})"
        accept=".pdf,.jpeg,.jpg" label="Upload File" [data]="files" [dialogConfig]="this.getImagePickerDialogConfig()">
    </tis-image-and-file-upload-and-view>

    <br><br>

    <h3 for="">Files with List View</h3>
    <tis-image-and-file-upload-and-view type="file" viewType="list" [urlConfig]="urlConfig" [entityType]="'file_details'" [disabled]="false"
        [options]="getOptions({selectorId: 'choosing-file-for-file-details-list-view'})"
        accept=".pdf,.jpeg,.jpg" label="Upload File" [data]="files" [dialogConfig]="this.getImagePickerDialogConfig()">
    </tis-image-and-file-upload-and-view>

    <br><br>

    <h3 for="">Files for View only</h3>
    <tis-image-and-file-upload-and-view type="file" viewType="card" [urlConfig]="urlConfig" [entityType]="'file_details'" [disabled]="true"
        [options]="getOptions({selectorId: 'choosing-file-for-file-details-card-for-view-only'})"
        accept=".pdf,.jpeg,.jpg" label="Upload File" [data]="files" [dialogConfig]="this.getImagePickerDialogConfig()">
    </tis-image-and-file-upload-and-view>

    <br>

    <tis-image-and-file-upload-and-view type="file" viewType="list" [urlConfig]="urlConfig" [entityType]="'file_details'" [disabled]="true"
        [options]="getOptions({selectorId: 'choosing-file-for-file-details-list-for-view-only'})"
        accept=".pdf,.jpeg,.jpg" label="Upload File" [data]="files" [dialogConfig]="this.getImagePickerDialogConfig()">
    </tis-image-and-file-upload-and-view>
</div>